<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/bloglist.css' />
</head>
<body>
<div class="header">西泊浪人－博客列表</div>
<div class="content">
    <div class="right">
        <div class="about">
            <h3>关于我</h3>
            <p>
                <b>西泊浪人</b>，立志成为一名屌屌的前端开发工程师，更是要成为一名全栈工程师。
            </p>
            <p>
                前端之路漫漫，其修远兮。资历尚浅之吾，将上下而求索至地老天荒。
            </p>
        </div>
        <div class="follow">
            <h3>Follow me on</h3>
            <ul>
                <li><a href="http://weibo.com/WesternRanger">新浪微博</a></li>
                <li><a href="http://blog.csdn.net/westernranger">CSDN博客</a></li>
                <li><a href="https://github.com/WesternRanger">github</a></li>
                <li><a href="http://western-ranger.com">个人主页</a></li>
            </ul>
        </div>
    </div>
    <ol class="bloglist">
        <% for(var i=0; i < res.length; i++) { %>
        <li class="blogPer">
            <span><<%= i+1%>></span>
            <a href="/blog?id=<%= res[i].id %>"class="auth"><%= res[i].title %></a>
        </li>
        <% } %>
    </ol>
</div>
<% include footer %>
</body>
</html>
