<div class="footer">
	<p class="contact" style="font-size:14px;">如有问题欢迎联系</p>
	<p>
		<span class="cr">©2016&nbsp;WesternRanger</span>&nbsp;&nbsp;
		<span>联系方式 : western_ranger@icloud.com</span>
	</p>
</div>