<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <script src="/component/flex.js"></script>
</head>
<body>
<h1>{{name}}</h1>
<vue_confirm :confirm_info="confirm_info"></vue_confirm>
<script src="/component/jquery-3.0.0.min.js"></script>
<script src="/component/vuecomp.js"></script>
</body>
</html>
